.story-panel {
    
    /*center the panel*/
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

#stats {
    margin-top: 200px;
}

#name-entry, #intro, #wolves, #vending-machine, #vending-outcome, #firefox, #firefox-surprise, #runaway {
    display: none;
}